<div class="cutin-container {{animationClass}}" data-backdrop="{{backdropStyle}}">

  {{!-- Backdrop Layer --}}
  <div class="cutin-backdrop backdrop-{{backdropStyle}}"></div>

  {{!-- Character Image --}}
  <div class="cutin-character align-v-{{imageVerticalAlign}} align-h-{{imageHorizontalAlign}}">
    <img src="{{characterImage}}" alt="Character" />
  </div>

  {{!-- Text Layers --}}
  <div class="cutin-text-layers">
    {{#each textLayers}}
    <div class="cutin-text text-{{position}} {{#if hasBackground}}has-bg{{/if}}"
         style="font-family: {{font}}; font-size: {{size}}px; color: {{color}}; line-height: {{#if lineHeight}}{{lineHeight}}{{else}}1.0{{/if}};{{#if hasBackground}} background: {{#if backgroundColor}}{{backgroundColor}}{{else}}rgba(0, 0, 0, 0.7){{/if}};{{/if}} --offset-x: {{#if offsetX}}{{offsetX}}{{else}}0{{/if}}px; --offset-y: {{#if offsetY}}{{offsetY}}{{else}}0{{/if}}px;">
      {{{text}}}
    </div>
    {{/each}}
  </div>

  {{!-- User Dismiss Hint --}}
  {{#if showUserHint}}
  <div class="cutin-dismiss-hint">Click anywhere to dismiss</div>
  {{/if}}

  {{!-- GM Dismiss Controls --}}
  {{#if showGMControls}}
  <button class="cutin-gm-dismiss" type="button">
    <i class="fas fa-times"></i> Dismiss for All
  </button>
  {{/if}}

</div>
